<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="uk.org.rbc1b.roms.db" />
    <context:component-scan base-package="uk.org.rbc1b.roms.reference" />

    <jee:jndi-lookup id="dataSource" jndi-name="jdbc/_roms" />

    <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!-- <prop key="hibernate.show_sql">true</prop> -->
                <prop key="current_session_context_class">thread</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.CMTTransactionFactory</prop>
                <prop key="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.SunOneJtaPlatform</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>uk/org/rbc1b/roms/db/Congregation.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/CongregationContact.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/RbcRegion.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/RbcSubRegion.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/Person.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/Updates.hbm.xml</value>

                <value>uk/org/rbc1b/roms/db/application/Application.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/application/ApplicationAccess.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/application/User.hbm.xml</value>

                <value>uk/org/rbc1b/roms/db/circuit/Circuit.hbm.xml</value>

                <value>uk/org/rbc1b/roms/db/kingdomhall/HallFeature.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/kingdomhall/KingdomHall.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/kingdomhall/KingdomHallFeature.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/kingdomhall/TitleHolder.hbm.xml</value>

                <value>uk/org/rbc1b/roms/db/project/Commentator.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/Project.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/ProjectEvent.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/ProjectStage.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/ProjectStatus.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/ProjectWorkBrief.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/project/WorkFeature.hbm.xml</value>

                <value>uk/org/rbc1b/roms/db/volunteer/Assignment.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/Attendance.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/Department.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/InvitationConfirmation.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/Qualification.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/Skill.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/Team.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/TradeNumber.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/VolunteerQualification.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/VolunteerSkill.hbm.xml</value>
                <value>uk/org/rbc1b/roms/db/volunteer/VolunteerTrade.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" />

    <tx:annotation-driven />

    <!-- generic cache manager -->
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.maritalStatus" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.rbcStatus" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.interviewStatus" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.fulltime" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.relationship" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.ownershipType" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.congregationRole" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.assignmentRole" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.projectType" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="reference.projectStatus" />
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="project.stage" />
                </bean>
            </set>
        </property>
    </bean>

    <cache:annotation-driven />

</beans>