<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License

Copyright 2013 RBC1B.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/login" security="none"/>
    <http pattern="/logout" security="none"/>
    <http pattern="/volunteer-update" security="none" />
    <http pattern="/volunteer-update/**" security="none" />
    <http pattern="/project-availability/**" security="none" />
    <http pattern="/volunteer-contact-details-confirmation/**" security="none" />
    <http pattern="/css/**" security="none"/>
    <http pattern="/images/**" security="none"/>
    <http pattern="/favicon.ico" security="none" />
    <http pattern="/javascript/common.js" security="none" />
    <http pattern="/javascript/login.js" security="none" />
    <http pattern="/javascript/volunteer-update.js" security="none" />
    <http pattern="/javascript/project-availability.js" security="none" />
    <http pattern="/javascript/thirdparty/**" security="none" />

    <http use-expressions="true">
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <form-login login-page='/login' default-target-url="/" authentication-failure-url="/login?status=fail" />
        <http-basic />
        <logout logout-success-url="/logout" />
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
        <expression-handler ref="webExpressionHandler" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder hash="sha" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <beans:property name="permissionEvaluator" ref="romsPermissionEvaluator" />
    </beans:bean>

    <beans:bean id="webExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
        <beans:property name="permissionEvaluator" ref="romsPermissionEvaluator" />
    </beans:bean>

    <beans:bean id="romsPermissionEvaluator" class="uk.org.rbc1b.roms.security.RomsPermissionEvaluator" />

    <global-method-security pre-post-annotations="enabled">
        <expression-handler ref="expressionHandler"/>
    </global-method-security>
</beans:beans>
