
/*****************************************************************************/
/* Global Styles for Edifice.                                                */
/*                                                                           */
/* PLEASE NOTE: This file is secondary to the Bootstrap CSS file, which      */
/* is not local and cannot be edited.                                        */
/*                                                                           */
/*****************************************************************************/
.navbar ul li a {
    padding-top:20px!important;
    color:#25aae1!important;
}



/*****************************************************************************/
/* Sign in form                                                              */
/*****************************************************************************/
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.navbar-inner {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
}
.form-signin {
    margin-top:60px;
}
.form-signin img {
    margin-bottom:10px;
}
.title-quote {
    font-family: Georgia, serif;
    color:#7F7E7E;
}
/*****************************************************************************/
/* Form layout                                                               */
/*****************************************************************************/
label.error {
    color: #b94a48;
}
div.span1>input[type=text] {
    max-width: 60px;
    width: 100%;
}
div.span2>input[type=text] {
    max-width: 170px;
    width: 100%;
}
div.span3>input[type=text] {
    max-width: 270px;
    width: 100%;
}
div.span6>input[type=text] {
    max-width: 460px;
    width: 100%;
}

/*****************************************************************************/
/* Data tables bootstrap styles                                              */
/* See: http://www.datatables.net/media/blog/bootstrap_2/DT_bootstrap.css    */
/*****************************************************************************/
div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}
/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}
div.dataTables_scrollFoot table {
    border-top: none;
}
/*
 * TableTools styles
*/
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}
table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}
div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}
div.DTTT .btn:hover {
    text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important; /* needed only when demo_page.css is included */
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
}
/* TableTools information display */
div.DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
}
div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}
div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}
/*
 * FixedColumns styles
*/
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
}
div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
}
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}
div.DTFC_LeftFootWrapper table {
    border-top: none;
}
ul.inline.list-actions {
    margin: 0 0 0 25px!important;
}
form#command {
    margin: 0 0 0px;
}
/*****************************************************************************/
/* List views                                                                */
/*****************************************************************************/
.list-actions li {
    border-left: 1px solid #ddd;
}

.list-actions li:first-child {
    border-left: none
}

.list-actions a.list-action {
    padding-left: 5px;
}

/*****************************************************************************/
/* Create volunteer form                                                     */
/*****************************************************************************/
.trades-row {
    margin-bottom: 10px;
}
.form-horizontal .controls {
    margin-left:0px!important;
}

/*****************************************************************************/
/* Volunteer details display                                                 */
/*****************************************************************************/
#volunteer-availability td {
    width: 32px;
}
#volunteer-availability span {
    margin-left: 8px;
}
/* Minor amendment to appearance of buttons                                   */

.btn-primary a {
    color:#ffffff;
}
/*****************************************************************************/
/* Footer fancy styling                                                      */
/*****************************************************************************/
footer .navbar {
    margin-bottom: 0px;
}
@media (max-width: 767px) {
    .footer {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
ul.footer-nav, #footer-nav {
    margin-top:20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none!important;
}
ul.footer-nav {
    color:#999999;
    font-size: 14px;
}
ul.footer-nav a {
    color:#999999;
}
ul.footer-nav a:hover {
    color:#ffffff;
    text-decoration: none;
}
li.first {
    text-transform: uppercase;
    margin-bottom:2px;
}

/*****************************************************************************/
/* Project pages                                                             */
/*****************************************************************************/
*/#project-stages div.project-stage-created-date,
#project-stages div.project-stage-started-date,
#project-stages div.project-stage-completed-date {
    float: left;
}
#project-stages div.project-stage-task-counts {
    float: left;
}
#project-stages div.project-stage-task-count {
    float: left;
}