body {
    padding-top: 90px; /* 60px to make the container go all the way to the bottom of the topbar */
}
div.content-container {
    margin: 10px 15px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
/*****************************************************************************/
/* Data tables                                                               */
/*****************************************************************************/
div.dataTables_wrapper a.paginate_button {
    margin-left: 5px;
    margin-right: 5px;
}

div.entity-list-results {
}
a.discourage {
    color:red;
}

div.entity-list-add-new {
    margin-top:25px;
}
.paging_full_numbers span.paginate_active {
    background-color: #fff;
}
/*
    Data tables background colours editing
*/
table.dataTable tr.odd td.sorting_1 { background-color: #fff; }
table.dataTable tr.odd td.sorting_2 { background-color: #ddd; }
table.dataTable tr.odd td.sorting_3 { background-color: #e9e9e9; }
table.dataTable tr.even td.sorting_1 { background-color: #fff; }
table.dataTable tr.even td.sorting_2 { background-color: #ddd; }
table.dataTable tr.even td.sorting_3 { background-color: #e9e9e9; }

/*****************************************************************************/
/* Volunteer editing                                                         */
/*****************************************************************************/
#volunteer-birthdate {
    float: left;
    margin-right: 5px;
}